[Unit]
Description=dst caves

[Service]
Restart=always
RestartSec=5s
User=dst
WorkingDirectory=/home/dst/server_dst/bin
ExecStart=sh start_caves.sh

[Install]
WantedBy=multi-user.target

